<!DOCTYPE html>
<html>
<head>
  <title>Time tracker extension</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "time_tracker_extension/application", media: "all" %>
  <%= javascript_include_tag "time_tracker_extension/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
